<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="me.proxer.app">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".log.LogActivity"
            android:label="Logs"
            android:process=":logs"
            android:taskAffinity="me.proxer.app.logs">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
