<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.proxer.app"
    android:targetSandboxVersion="2"
    tools:ignore="UnusedAttribute">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-sdk tools:overrideLibrary="de.number42.subsampling_pdf_decoder" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:appCategory="social"
        android:extractNativeLibs="false"
        android:fullBackupContent="@xml/backup_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:supportsRtl="false"
        android:theme="@style/Theme.Placeholder.App.Splash"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:replace="android:supportsRtl">

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="me.proxer.app.anime.CastOptionsProvider" />

        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/news"
                    android:scheme="http" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/news"
                    android:scheme="https" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/chat"
                    android:scheme="http" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/chat"
                    android:scheme="https" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/messages"
                    android:scheme="http" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/messages"
                    android:scheme="https" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/anime"
                    android:scheme="http" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/anime"
                    android:scheme="https" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/anime/.*"
                    android:scheme="http" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/anime/.*"
                    android:scheme="https" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/calendar"
                    android:scheme="http" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/calendar"
                    android:scheme="https" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/manga"
                    android:scheme="http" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/manga"
                    android:scheme="https" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/manga/.*"
                    android:scheme="http" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/manga/.*"
                    android:scheme="https" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".profile.ProfileActivity"
            android:theme="@style/Theme.Placeholder.App.Transparent">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/user/.*"
                    android:scheme="http" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/user/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".notification.NotificationActivity" />

        <activity android:name=".chat.pub.message.ChatActivity" />

        <activity android:name=".chat.prv.message.MessengerActivity" />

        <activity
            android:name=".chat.share.ShareReceiverActivity"
            android:label="Senden an&#8230;">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value=".chat.share.ConferenceChooserTargetService" />
        </activity>

        <activity android:name=".chat.prv.create.CreateConferenceActivity" />

        <activity android:name=".chat.prv.conference.info.ConferenceInfoActivity" />

        <activity android:name=".chat.pub.room.info.ChatRoomInfoActivity" />

        <activity android:name=".ucp.UcpActivity" />

        <activity android:name=".ucp.settings.UcpSettingsActivity" />

        <activity
            android:name=".media.MediaActivity"
            android:theme="@style/Theme.Placeholder.App.Transparent">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/info/.*"
                    android:scheme="http" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/info/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".info.translatorgroup.TranslatorGroupActivity"
            android:theme="@style/Theme.Placeholder.App.Transparent" />

        <activity
            android:name=".info.industry.IndustryActivity"
            android:theme="@style/Theme.Placeholder.App.Transparent" />

        <activity
            android:name=".ui.ImageDetailActivity"
            android:theme="@style/Theme.Placeholder.App.NoBackground" />

        <activity
            android:name=".anime.StreamActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:launchMode="singleTask" />

        <activity android:name=".manga.MangaActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/chapter/.*"
                    android:scheme="http" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/chapter/.*"
                    android:scheme="https" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/read/.*"
                    android:scheme="http" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/read/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".anime.AnimeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/watch/.*"
                    android:scheme="http" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/watch/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".forum.TopicActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/forum/.*/.*"
                    android:scheme="http" />

                <data
                    android:host="proxer.me"
                    android:pathPattern="/forum/.*/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".settings.status.ServerStatusActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="proxer.de"
                    android:scheme="http" />

                <data
                    android:host="proxer.de"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.WebViewActivity" />

        <service
            android:name=".chat.share.ConferenceChooserTargetService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">

            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>

        <service
            android:name=".news.widget.NewsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".news.widget.NewsWidgetDarkService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".anime.schedule.widget.ScheduleWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".anime.schedule.widget.ScheduleWidgetDarkService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver
            android:name=".news.widget.NewsWidgetProvider"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/widget_news_label">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_news" />
        </receiver>

        <receiver
            android:name=".news.widget.NewsWidgetDarkProvider"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/widget_news_label">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_news_dark" />
        </receiver>

        <receiver
            android:name=".anime.schedule.widget.ScheduleWidgetProvider"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/widget_schedule_label">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_schedule" />
        </receiver>

        <receiver
            android:name=".anime.schedule.widget.ScheduleWidgetDarkProvider"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/widget_schedule_label">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_schedule_dark" />
        </receiver>

        <receiver
            android:name=".news.NewsNotificationReadReceiver"
            android:exported="false" />

        <receiver
            android:name=".notification.AccountNotificationReadReceiver"
            android:exported="false" />

        <receiver
            android:name=".chat.prv.sync.MessengerNotificationReadReceiver"
            android:exported="false" />

        <receiver
            android:name=".chat.prv.sync.DirectReplyReceiver"
            android:exported="false" />

        <provider
            android:name=".MainContentProvider"
            android:authorities="${applicationId}.initialization"
            android:exported="false"
            android:initOrder="100000" />

        <provider
            android:name="com.mikepenz.iconics.IconicsContentProvider"
            android:authorities="${applicationId}.iconics.core.provider"
            android:exported="false"
            tools:node="remove" />
    </application>
</manifest>
