<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proxerme.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme">
        <activity android:name=".activity.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserActivity"
            android:parentActivityName=".activity.DashboardActivity"
            android:theme="@style/Theme.Translucent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".activity.chat.ChatActivity"
            android:parentActivityName=".activity.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".activity.UcpActivity"
            android:parentActivityName=".activity.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DashboardActivity" />
        </activity>
        <activity android:name=".activity.chat.NewChatActivity" />
        <activity
            android:name=".activity.MediaActivity"
            android:parentActivityName=".activity.DashboardActivity"
            android:theme="@style/Theme.Translucent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DashboardActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="proxer.me" />
                <data android:pathPrefix="/info" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ImageDetailActivity"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".activity.chat.ConferenceInfoActivity" />
        <activity android:name=".activity.MangaActivity" />
        <activity android:name=".activity.AnimeActivity" />
        <activity android:name="customtabs.WebviewActivity" />

        <service android:name="customtabs.KeepAliveService" />
        <service android:name=".service.NotificationService" />
        <service android:name=".service.ChatService" />

        <receiver android:name=".receiver.NotificationReceiver" />
        <receiver android:name=".receiver.ChatReceiver" />
        <receiver android:name=".receiver.DirectReplyReceiver">
            <intent-filter>
                <action android:name="com.proxerme.app.ACTION_MESSAGE_REPLY" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>