<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.proxerme.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".activity.DashboardActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="proxer.me"
                    android:path="/news"
                    android:scheme="http" />
                <data
                    android:host="proxer.me"
                    android:path="/messages"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customtabs.WebviewActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <service android:name=".customtabs.KeepAliveService" />

        <activity
            android:name=".activity.NewsImageDetailActivity"
            android:parentActivityName=".activity.DashboardActivity"
            android:theme="@style/Theme.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DashboardActivity" />
        </activity>

        <service
            android:name=".service.NewsService"
            android:exported="false" />

        <receiver
            android:name=".receiver.NewsReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
