<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proxerme.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme">
        <activity android:name=".activity.DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserActivity"
            android:parentActivityName=".activity.DashboardActivity"
            android:theme="@style/Theme.Translucent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".activity.ChatActivity"
            android:parentActivityName=".activity.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DashboardActivity" />
        </activity>
        <activity
            android:name=".activity.ImageDetailActivity"
            android:theme="@style/Theme.Transparent" />
        <activity android:name="customtabs.WebviewActivity" />
        <activity android:name=".activity.ConferenceInfoActivity" />

        <service android:name="customtabs.KeepAliveService" />
        <service android:name=".service.NotificationService" />
        <service android:name=".service.ChatService" />

        <receiver android:name=".receiver.NotificationReceiver" />
        <receiver android:name=".receiver.ChatReceiver" />
        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.NewChatActivity"
            android:windowSoftInputMode="stateUnchanged" />
    </application>

</manifest>